# Copy this file to server.local.cfg on your local machine.
# NEVER commit server.local.cfg.
# Keep your Cfx.re key and database password private.

sv_licenseKey "cfxk_vdHopV051qtiHIGQXtEC_iUKVJ"
set mysql_connection_string "mysql://root:12345678@localhost/Qbox_9C2A94?charset=utf8mb4"

